<!DOCTYPE html>
<html ng-app='ShoppingListApp'>

<head>
	<meta charset="utf-8">
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<style>
		body {
			font-size: 1.2em;
		}
	</style>
	<title>ng-repeat</title>
</head>

<body>
	<h1>ng-repeat</h1>
	<div ng-controller='ShoppingListController'>
		<!-- Searchable Shopping List: -->
		<h3>Shopping List:</h3>
		<input type="text" ng-model="search">
		<ul>
			<li ng-repeat="item in shoppingList | filter : search">{{ item }}</li>
		</ul>
	</div>
</body>

</html>

<!--

	Summary

	Array has a special function called filter
		- creates new array where each item satisfies some condition of the comparison function passed into the filter function

	Angular has a special filter called 'filter'
		- provided a string as 1st argument, it will filter array it's applied to, matching all strin items against the provided one

	ng-repeat="item in collection | filter : searchString"

 -->